header{
    height: 20vh;
    width: 100%;
    position: fixed;
    background-color: aliceblue;
    border-radius: 5px;

    >#logo{
        height: 70%;
        padding: 5px;
        display: flex;
        align-items: center;
        >img{
            height: 100%;
            border-radius: 50%;
        }

        >h1{
            font-family: cursive;
            font-style: italic;
            font-size: 60px;
            letter-spacing: 7px;
            margin: auto;
            color: #4ca9af;
        }
       
    }

    >nav{
        width: 100%;
        display: flex;
        justify-content: center;
        
        >a{
            all: unset;
            cursor: pointer;

            >button{
                all: unset;
                margin: 5px;
                background-color: rgb(91, 122, 176);
                padding: 8px 50px;
                }
            }

        #Home{
            border-radius: 2.5em 0 0 2.5em;
        }

        #Matrix{
            border-radius: 0 2.5em 2.5em 0;
        }
        
    }
}

#pseudoheader{
    height: 20vh;
    background-color: #212121;
}